<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #CA1701">
<nav>
    <div>
        <div>
            <a href="#">Project Name</a>
        </div>
        <div id="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <div>
        <h1>Bootstrap starter template</h1>
        <p>Hello,Bootstrap</p>
    </div>
</div>
</body>
</html>