<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>卡片效果</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home/service_store.css" media="all">
</head>
<body>
    <script src="/static/js/public/jquery.js"></script>
    <script src="/static/js/home/service_store.js"></script>

    <div>
        <div class="card" style="float: left;" id="left_img">
            <div>
            <img src="/static/Images/3.jpg" alt="图片">
            </div>

            <div class="body">
                <p>Hardanger, Norway</p>
                <p>XXX从业40年，丰富的XXX经验XXX从业40年，</p>
            </div>
        </div>
        <div class="card" style="float: right" id="right_img">
            <img src="/static/Images/3.jpg" alt="图片">
            <div class="body">
                <p>Hardanger, Norway</p>
                <p>XXX从业40年，丰富的XXX经验XXX从业40年，丰富的XXX经验</p>
            </div>
        </div>
    </div>


</body>
</html>