<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.35, maximum-scale=0.35, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/css/home/user_center.css"/>
    <title>用户主页</title>
</head>
<body style="background-color:#eeeeee">
<script src="/static/js/public/jquery.min.js"></script>

<!--头像部分-->
<div class="user_div">
    <img src="/static/Images/default.png" class="user_head">

    <div class="user_detail">
        <div style="font-size: 3em;color: #111111" id="uName">曹家驹</div>
        <div style="font-size: 2.5em;color: red;margin-top: 2pc;cursor:pointer;" id="phoneBind">绑定手机</div>
    </div>
</div>

<div style="margin-left: 20px;margin-top: 20px;font-size: 3em;color: #4f4d4f">订单中心</div>
<!--粗分割div-->
<div class="seperatorDiv"></div>
<!--评论与优惠券-->
<div>
    <div class="item_function"
         onclick="javascrtpt:window.parent.location.href='./res_order.html?Command=Get_Orders&Type=0'">
        <img class="itemLogo" src="/static/Images/main_qx.png">
        <div class="itemTitle">资源订单</div>
        <img class="right_arrow" src="/static/Images/right.png">
    </div>
</div>

<!--粗分割div-->
<div class="seperatorDiv"></div>
<!--地址管理-->

<div>
    <div class="item_function"
         onclick="javascrtpt:window.parent.location.href='./res_order.html?Command=Get_Orders&Type=1'">
        <img class="itemLogo" src="/static/Images/main_qx.png">
        <div class="itemTitle">服务订单</div>
        <img class="right_arrow" src="/static/Images/right.png">
    </div>
</div>

<div style="margin-left: 20px;margin-top: 20px;font-size: 3em;color: #4f4d4f">账号与机构</div>

{#<!--粗分割div-->#}
{#<div class="seperatorDiv"></div>#}
{#<!--地址管理-->#}
{##}
{#<div>#}
{#    <div class="item_function" onclick="javascrtpt:window.location.href='./user_addresss.html'">#}
{#        <img class="itemLogo" src="/static/Images/main_qx.png">#}
{#        <div class="itemTitle">账号管理</div>#}
{#        <img class="right_arrow" src="/static/Images/right.png">#}
{#    </div>#}
{#</div>#}


<!--粗分割div-->
<div class="seperatorDiv"></div>
<div>
    <div class="item_function" onclick="javascrtpt:window.parent.location.href='./task_view.html?Command=View_Tasks'">
        <img class="itemLogo" src="/static/Images/main_qx.png">
        <div class="itemTitle">任务管理</div>
        <img class="right_arrow" src="/static/Images/right.png">
    </div>
</div>

<!--粗分割div-->
<div class="seperatorDiv"></div>
<div>
    <div class="item_function" onclick="javascrtpt:window.parent.location.href='./organization_my.html?Command=View_MyOrganization'">
        <img class="itemLogo" src="/static/Images/main_qx.png">
        <div class="itemTitle">我的机构</div>
        <img class="right_arrow" src="/static/Images/right.png">
    </div>
</div>


<div style="margin-left: 20px;margin-top: 20px;font-size: 3em;color: #4f4d4f">数据查询</div>

<!--粗分割div-->
<div class="seperatorDiv"></div>
<!--地址管理-->
<div>
    <div class="item_function" onclick="javascrtpt:window.location.href='./user_addresss.html'">
        <img class="itemLogo" src="/static/Images/main_qx.png">
        <div class="itemTitle">作业查询</div>
        <img class="right_arrow" src="/static/Images/right.png">
    </div>
</div>

<!--粗分割div-->
<div class="seperatorDiv"></div>
<div>
    <div class="item_function" onclick="javascrtpt:window.location.href='./user_addresss.html'">
        <img class="itemLogo" src="/static/Images/main_qx.png">
        <div class="itemTitle">成绩查询</div>
        <img class="right_arrow" src="/static/Images/right.png">
    </div>
</div>


<div style="margin-left: 20px;margin-top: 20px;font-size: 3em;color: #4f4d4f">合作与意见</div>


{#    <div class="seperatorDiv"></div>#}
{#    <div>#}
{#        <div class="item_function" onclick="javascrtpt:window.parent.location.href='./mycheck.html?Command=View_MyCheck'">#}
{#            <img class="itemLogo" src="/static/Images/main_qx.png">#}
{#            <div class="itemTitle">我的考勤</div>#}
{#            <img class="right_arrow" src="/static/Images/right.png">#}
{#        </div>#}
{#    </div>#}

<div class="seperatorDiv"></div>
<div>
    <div class="item_function" onclick="javascrtpt:window.parent.location.href='./suggest.html?Command=Send_Suggest'">
        <img class="itemLogo" src="/static/Images/main_qx.png">
        <div class="itemTitle">意见反馈</div>
        <img class="right_arrow" src="/static/Images/right.png">
    </div>
</div>

<div class="seperatorDiv"></div>
<div>
    <div class="item_function"
         onclick="javascrtpt:window.parent.location.href='./cooperation.html?Command=Open_Contact'">
        <img class="itemLogo" src="/static/Images/main_qx.png">
        <div class="itemTitle">商务合作</div>
        <img class="right_arrow" src="/static/Images/right.png">
    </div>
</div>

</body>
</html>