<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.35, maximum-scale=0.35, user-scalable=no">
    <title>首匠师傅</title>
</head>
<body>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/cookie.js"> </script>
    <script src="/static/js/wxauth.js"> </script>

    <div id="wx_openid" hidden>{{openid}}</div>
    <div id="wx_name" hidden>{{wx_name}}</div>
    <div id="wx_head_image" hidden>{{wx_head_image}}</div>
</body>
</html>